doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    title= title
  body
    div.container
      div#examples
        h1 Image Search - FCC
        h2 Examples:
        h3 Search Specific Topic
        h4 https://nameless-ocean-40330.herokuapp.com/search/q=catss&offset=5
        h4 https://nameless-ocean-40330.herokuapp.com/search/q=dogss&offset=1
        h3 Search Latest Entries
        h4 https://nameless-ocean-40330.herokuapp.com/latest
        
  
script.
    function changeRoute(event) {
      var x = event.keyCode;
      if (x == 13) {
        window.location.href = "/search";
      }
    }
    function changeRouteButton() {
      window.location.href = "/search";
    }