doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
    title= title
  body
    div.container
      div#examples
        h2 Examples
      div#form
        div#title
          h1 Image Search
        div.formSearch 
          form(action="search/submit", method="post")
            input#searchBar(type="text", name="search", value="", placeholder="Start Search Here.....", onkeydown="changeRoute(event)")
            button#searchBtn(type="submit", onclick="changeRouteButton()") Go!
        
  
script.
    function changeRoute(event) {
      var x = event.keyCode;
      if (x == 13) {
        window.location.href = "/search";
      }
    }
    function changeRouteButton() {
      window.location.href = "/search";
    }